@page "/marketplaces/create"

<h3>@Localizer["New"] @Localizer["Marketplace"]</h3>

<MarketplaceForm @ref="marketplaceForm" Marketplace="marketplace" OnValidSubmit="CreateAsync" ReturnAction="Return" />