@page "/marketplaces/edit/{Id:int}"

<h3>@Localizer["Edit"] @Localizer["Marketplace"]</h3>

@if (marketplace is null)
{
    <Loading />
}
else
{
    <MarketplaceForm @ref="marketplaceForm" Marketplace="marketplace" OnValidSubmit="EditAsync" ReturnAction="Return" />
}

