@page "/reputations/edit/{Id:int}"

<h3>@Localizer["Edit"] @Localizer["Reputation"]</h3>

@if (reputation is null)
{
    <Loading />
}
else
{
    <ReputationForm @ref="reputationForm" Reputation="reputation" OnValidSubmit="EditAsync" ReturnAction="Return" />
}