@page "/profiles/edit/{Id:int}"

<h3>@Localizer["Edit"] @Localizer["Profiles"]</h3>

@if (profile is null)
{
    <Loading />
}
else
{
    <ProfileForm @ref="profileForm" Profile="profile" OnValidSubmit="EditAsync" ReturnAction="Return" />
}
