@page "/"

<!-- Indicador de carga -->
@if (loading)
{
    <div style="position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(255, 255, 255, 0.8);
                z-index: 9999;"
         class="d-flex flex-column justify-center align-center">

        <MudProgressCircular Indeterminate="true"
                             Color="Color.Primary"
                             Size="Size.Large" />

        <MudText Typo="Typo.subtitle2"
                 Color="Color.Primary"
                 Class="mt-3">
            @Localizer["LoadingReels"]
        </MudText>
    </div>
}

<div class="page-container">
    <!--
    <AuthorizeView Roles="Admin">
        <Authorized>
            <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
        </Authorized>
        <NotAuthorized>
            <p>No estas autorizadossss</p>
        </NotAuthorized>
    </AuthorizeView>
    -->

    <!--
    <h1>@Localizer["Title"]</h1>
    <h2>@Localizer["Subtitle"]</h2>
    -->
    <AuthorizeView Roles="Admin">
        <Authorized>
            <ReelBuy.Frontend.Pages.Products.Pending.ProductsPending />
        </Authorized>
    </AuthorizeView>

    <!-- Vista de reel ampliado -->
    <ReelBuy.Frontend.Pages.ViewReel.CardReel ReelData="selectedProduct"
                                              OnNext="LoadNextBatch"
                                              OnPrevious="LoadPreviousBatch"
                                              IsNextDisabled="IsOnLastVideo"
                                              IsPreviousDisabled="HasPreviousBatchLoaded" />

    <!-- Espacio flexible que empuja los videos hacia abajo -->
    <div class="spacer"></div>
        
</div>
