<div class="video-card">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lgmW-HIrth8?si=V-4qcaVfJojC6sIz" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
    </iframe>
</div>