.video-card {
    width: 165px;
    height: 125px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

    .video-card img {
        width: 100%;
        height: auto;
    }

    .video-card h4 {
        margin: 8px 0;
    }

    .video-card a {
        display: block;
        margin: 8px;
        color: #007bff;
        text-decoration: none;
    }