<div class="video-card">
   @*  <iframe width="560" height="315" src="@Link"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
    </iframe>
 *@
   
    <video class="reel-video"
           preload="metadata"
           muted
           playsinline
           controls="controls"
           autoplay="autoplay"
           src="data:video/mp4;base64,@Link"
           style="pointer-events: none;">
    </video>
</div>