@page "/categories/edit/{Id:int}"

<h3>@Localizer["Edit"] @Localizer["Categories"]</h3>

@if (category is null)
{
    <Loading />
}
else
{
    <CategoriesForm @ref="categoryForm" Categories="category" OnValidSubmit="EditAsync" ReturnAction="Return" />
}
